.select__container {
    position: relative;
    margin-left: 27px;
}

.select__year {
    border-radius: 3px;
    border: none;
    appearance: none;
    outline: none;
    line-height: 30px;
    position: relative;
    padding-left: 12px;
    margin-right: 24px;
}

.select__text--static {
    position: absolute;
    font-size: 13px;
    padding-left: 12px;
    font-family: RobotoRegular;
    padding-top: 1px;
    z-index: 99;
}

.select__value .select__input--depart:checked+.select__filter {
    display: block;
    background-color: #f5f5f5;
}

.no--select {
    color: var(--blue-color-primary);
}


/*  */
.select__box {
    position: relative;
    display: block;
    width: 112px;
    margin: 0 auto;
}


.select__box--current {
    position: relative;
    outline: none;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
}

.select__box--current:focus+.select__list {
    opacity: 1;
    cursor: pointer;
    -webkit-animation-name: none;
    animation-name: none;
}

.select__box--current:focus+.select__list>li>.select__option {
    cursor: pointer;
}


.select__value {
    display: flex;
    z-index: 0;
    position: relative;
}

.select__year .select__input {
    display: none;
}

.select__year .select__input:checked+.selected__text {
    display: block;
    background-color: var(--blue-color-secondary);
}


.select__input:checked+.selected__text {
    display: block;
    background-color: var(--blue-color-secondary);
}


.select__input:checked+.select__type {
    display: block;
    background-color: var(--white-color);
}

.selected__text {
    display: none;
    width: 100%;
    margin: 0;
    text-align: right;
    padding-right: 28px;
    font-size: 13px;
    font-family: RobotoBold;
    border-radius: 4px;
}

.select__list {
    top: 30px;
    position: absolute;
    width: 100%;
    list-style: none;
    opacity: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 13;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: var(--white-color);
}

.select__list li {
    background-color: var(--white-color);
    padding: 0px 8px;
}

.select__option {
    display: block;
    height: 30px;
    padding: 0 8px;
    font-size: 13px;
    font-family: RobotoBold;
    border-radius: 4px;
}

.select__option:hover {
    background-color: rgba(26, 164, 200, .09);
}

.select__option:focus {
    background-color: rgba(26, 164, 200, .09);
}

.select__container .select__icon {
    position: absolute;
    right: 8px;
    top: 25%;
}

.text--empty {
    font-family: RobotoMedium;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.select__device {
    border-radius: 3px;
    border: none;
    appearance: none;
    outline: none;
    line-height: 30px;
    padding-left: 12px;
}

.filter__container {
    font-size: 13px;
    font-family: RobotoRegular;
}

.filter__container .select__box {
    width: 260px;
    height: 36px;
}

.filter__container .select__box--current {
    line-height: 36px;
    border: 1px solid #afafaf;
    height: 36px;
}

.filter__container .select__list li {
    background-color: var(--white-color);
    width: 260px;
}

.filter__container .select__option {
    display: block;
    height: 36px;
    padding: 0 8px;
    font-size: 13px;
    font-family: RobotoRegular;
    line-height: 36px;
}

.filter__container .select__icon {
    position: absolute;
    top: 15%;
    left: 8px;
    z-index: 99;
}

.filter__container .icon__down {
    right: 8px;
    left: unset;
    top: 15px;
}

.select__department .select__type {
    display: none;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 39px;
}

.select__device .select__type {
    display: none;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 39px;
}

.filter__container .select__list {
    top: 38px;
    cursor: pointer;
    height: unset;
    overflow: hidden;
}

.select__department {
    border-radius: 3px;
    border: none;
    appearance: none;
    outline: none;
    line-height: 30px;
    padding-left: 12px;
}


.select__department .select__input--depart:checked+.select__type {
    display: block;
}

.select__department .select__input--depart {
    display: none;
}

.select__device .select__input--device:checked+.select__type {
    display: block;
}

.select__device .select__input--device {
    display: none;
}

.select__input--depart:checked+.selected__text {
    display: block;
    background-color: var(--blue-color-secondary);
}


.select__input--depart:checked+.select__type {
    display: block;
    background-color: var(--white-color);

}

.select__input--device:checked+.selected__text {
    display: block;
    background-color: var(--blue-color-secondary);
}


.select__input--device:checked+.select__type {
    display: block;
    background-color: var(--white-color);
}

.select__wrapper:focus {
    border: 1px solid var(--blue-color-primary);
}

.select__year>.select__wrapper {
    width: 110px;
    border: none;
}

.select__year>.select__wrapper>.el-tooltip__trigger>.el-input>.el-input__wrapper>.el-input__inner {
    font-size: 13px;
    font-family: RobotoBold;
}

.select__year>.select__wrapper>.el-tooltip__trigger>.el-input>.el-input__wrapper {
    padding-left: 52px !important;
    background-color: rgba(26, 164, 200, .2);
}

.select__wrapper {
    width: 260px;
    border-radius: 4px;
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: RobotoRegular;
}

.select--focus {
    border: 1px solid var(--blue-color-primary);
}

.el-input .el-input__wrapper .is-focus {
    box-shadow: unset !important;
}

.el-input .is-focus {
    box-shadow: unset !important;
}

.el-input__wrapper {
    width: 260px;
    box-shadow: unset !important;
}

.select__year>.select__wrapper>.select-trigger>.el-input {
    height: 30px;
}

.ceil--item>.select__wrapper>.select-trigger>.el-input {
    height: 32px;
}


.ceil--item>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper {
    padding-left: 12px !important;
}

.ceil--item>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper>.el-input__inner::placeholder {
    font-style: italic;
    color: var(--placeholder-color);
}

.el-input {
    height: 36px;
}

.el-select:hover:not(.el-select--disabled) .el-input__wrapp {
    box-shadow: unset !important;
}


.el-input__wrapper:hover {
    box-shadow: unset !important;
}

.el-select:hover:not(.el-select--disabled) .el-input__wrapper {
    box-shadow: unset !important;
}

.el-select-dropdown__item.selected {
    color: unset !important;
}

.el-select .el-input__wrapper.is-focus {
    box-shadow: unset !important;

}

.el-select-dropdown__item {
    height: 36px;
    color: var(--black-color) !important;
}

.el-select-dropdown__list {
    padding: 0 8px !important;
}

.el-select-dropdown__wrap {
    max-height: 160px;
}

.el-select-dropdown__item span {
    font-weight: 400;
    font-family: RobotoRegular;
    font-size: 14px;
    color: var(--black-color) !important;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: var(--blue-color-secondary);
}

.el-select-dropdown__empty {
    display: none;
}


.el-input__inner::placeholder, .el-input__inner {
    font-family: RobotoRegular;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--black-color)
}


.el-input__wrapper {
    padding-left: 36px !important;
}

.el-popper__arrow {
    display: none;
}

.el-select__popper {
    transform: translateY(-10px) !important;
}

.el-input__suffix-inner {
    background: url(../../assets/icon/qlts-icon.svg) no-repeat -72px -338px;
    width: 12px;
    height: 8px;
}

.el-select .el-input .el-select__caret.el-icon {
    display: none;
}

.el-input__suffix {
    align-items: center;
}

.el-input__inner {
    margin-left: -5px;
    text-overflow: ellipsis;
}

.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: unset !important;
}

.select__icon {
    position: absolute;
    z-index: 99;
    right: 8px;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.select__icon--l {
    top: 16%;
    left: 5px;
}

.select__icon--r {
    right: 8px;
    top: calc(50% - 2px);
}

.label__input {
    display: block;
    margin-bottom: 8px;
    font-family: RobotoMedium;
    font-size: 14px;
}

.text--italic::placeholder {
    font-style: italic;
    color: var(--gray-color)
}

.input--error {
    border: 1px solid var(--red-color);
}

.col-4>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper {
    padding-left: 12px !important;
}

.col-4>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper>.el-input__inner::placeholder {
    font-style: italic;
    color: var(--placeholder-color);
}

.input__wrapper>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper {
    padding-left: 12px !important;
}

.input__wrapper>.select__wrapper>.select-trigger>.el-input>.el-input__wrapper>.el-input__inner::placeholder {
    font-style: italic;
    color: var(--placeholder-color);
}

.el-select-dropdown {
    max-width: 260px;
}

.el-select__popper {
    z-index: 9999 !important;
}

/* Responsive */
@media only screen and (max-width: 1367px) {
    .select__wrapper {
        width: 220px;
    }
}

/* Responsive */
@media only screen and (max-width: 1025px) {
    .select__wrapper {
        width: 160px;
    }

    .el-input__wrapper {
        padding-left: 26px !important;
        padding-right: 2px !important;
    }

    .select__wrapper>.select-trigger>.el-input>.el-input__wrapper>.el-input__inner::placeholder {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.select--sm {
    width: 280px;
}

.select--table {
    width: 185px;
    height: 35px;
}