.context__menu {
    position: absolute;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-radius: 4px;
    overflow: hidden;
    transition: opacity 0.2s linear;
    animation: animateOpen 0.25s ease;
    z-index: 100;
    padding: 16px 0;
    background-color: var(--white-color);
}

.btn__context>.icon__ctm {
    transform: unset;
}


@keyframes animateOpen {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);

    }

}