.main__content {
    height: calc(100% - 56px);
}

.container__fluid {
    padding: 8px 16px 16px 16px;
    height: calc(100% - 56px);
}

.content__tranfer {
    height: 100%;
}

.content__top {
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 11px 21px 16px 21px;
}

.content__top--left {
    display: flex;
    gap: 0 11px;
    width: 105%;
    align-items: flex-end;
}

.content__top--right {
    position: relative;
    display: flex;
    gap: 0 11px;

}

.content__top--wrapper {
    position: relative;
}


.content__top--wrapper>div>.input__text:first-child {
    background-color: var(--white-color);
}

.wrapper__dropdown {
    position: relative;
}