#loading__bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading__bar-spinner.spinner .spinner__icon {
    width: 40px;
    height: 40px;
    border: solid 4px transparent;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: colors 5s infinite;
    animation: colors 5s infinite;
}

@keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes colors {
    0% {
        border-color: #1aa4c8;
    }

    100% {
        border-color: #1aa4c8;
    }
}